/*   ----- Imports  -----  */
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'node_modules/modern-normalize/modern-normalize.css';
/* npm install modern-normalize
      Resets elements for browser consistency.  
      https://www.npmjs.com/package/modern-normalize
    */

/*   ----- Variables  -----  */
:root {
  --white: #ffffff;
  --black: #000000;
  --dark-red: #ad393d;
  --medium-red: #c74e52;
  --light-red: #ec7377;
  --gray: #464646;
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  /* Can alternatively define in html {} or :root {} */
  background-attachment: fixed;
  background-color: var(--black);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  padding: 0%;
  max-width: 100%;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  /* Define with at least one font name and its related generic family name.*/
  line-height: 1.2;
}

/*  ----- Page layout blocks -----  */
header,
footer {
  background-color: var(--black);
  color: var(--white);

}

header {
  text-align: center;
  padding: .5%;
  margin-top: 1%;
  margin-bottom: -.5%;
}

footer {
  text-align: center;
  padding: 1%;
  bottom: 0;
  width: 100%;
}

main {
  background-color: var(--white);
  color: var(--black);
  position: relative;
  margin: 0%;
  padding: 3%;
}

.div-container-visible {
  display: inline-block;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}


/* ----- Anchors ----- Text links */
/*a {}
a:link {}
a:hover {}
a:active {}
a:visited {}
*/

/*  ----- Navigation ----- Override text links for navigation only.  */
/* Style the MAIN nav bar */
/* Style the entire nav bar */
.nav {
  display: flex;
  justify-content: center;
  background-color: var(--black);
}

/* Style the individual links inside the nav bar */
.nav a {
  display: inline-block;
  padding: 5px 2vw;
  margin: 10px;
  margin-bottom: 10px;
  color: var(--white);
  font-size: calc(.4rem + 1vw);
  text-decoration: none;
}

/* Style the hover state of the individual links */
.nav a:hover {
  border: 3px solid var(--white);
  color: var(--white);
  border-radius: 0;
}

/* Style the LOCAL nav bar */
.local-nav {
  display: flex;
}

.local-nav a {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  color: var(--black);
  text-decoration: none;
  border-radius: 5px;
}

.local-nav a:hover {
  color: var(--medium-red);
}

/*  -----  Typography  ----- */

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: calc(.5rem + 2vw);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  /* color: var(--dark-red); */
  color: rgb(6, 53, 141);
}

h3,
h4,
h5,
h6 {
  /* color: var(--medium-red); */
  color: rgb(112, 167, 212);
}

.small-descriptor {
  font-size: small;
}

/*  -----  Tables  ----- */
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
}

th,
td {
  /*border: 1px solid #dddddd;*/
  border-radius: 3px;
  overflow: hidden;
  padding: 8px;
}

th {
  background-color: lightgrey;
  color: rgb(46, 46, 46);
  text-align: center;
  font-size: calc(.5rem + 1.3vw);
}

.th-trip {
  background-color: rgb(154, 241, 230);
}

td {
  background-color: var(--white);
  border: 1px solid lightgrey;
}

.td-unpin {
  border: none;
}

.experiences-table {
  width: 73%;
}

.rating-container {
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 8px;
}

.rating-inline-block {
  display: inline-block;
  padding-right: 20px;
}

.location-container {
  padding-bottom: 6px;
  padding-left: 8px;
}

.description-container {
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 8px;
}

/*  -----  Forms, Fieldsets, and Buttons  ----- */
fieldset {
  border: none;
}

select {
  border-radius: 10px;
  padding: 10px;
  background-color: var(--white);
  font-size: 17px;
  border: 1px solid lightgrey;
}

input {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  /* border: 2px solid var(--dark-red); */
  border: 1px solid rgb(20, 67, 99);
}


input[type="file"] {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}

/* submit button */
input[type="submit"] {
  border: 2px solid rgb(20, 67, 99);
  background-color: rgb(228, 241, 250);
  color: rgb(20, 67, 99);
}

/* submit button - hover effect */
input[type="submit"]:hover {
  background-color: rgb(202, 229, 247);
}

button {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: 2px solid rgb(20, 67, 99);
  background-color: rgb(228, 241, 250);
  color: rgb(20, 67, 99);
}

button:hover {
  background-color: rgb(202, 229, 247);
}

.small-button {
  padding: 6px;
}

.button-link {
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  border: 2px solid rgb(59, 153, 140);
  background-color: var(--white);
  color: rgb(20, 99, 90);
  cursor: pointer;
}

.button-link:hover {
  background-color: var(--white);
  cursor: pointer;
}

/* Trip_edit unpin form */
.unpin-form {
  width: auto;
}

/* View Experience form */
.experience-view-form {
  width: 320px;
  margin: 0;
}

/* Experiences search form */
.exerpience-search-form {
  width: 73%;
  margin: 0 auto;
  margin-left: 15%;
  padding-bottom: 10px;
}

.experience-search-input {
  width: 70%;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

/* Experience Create form */
.exerpience-create-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.create-experience-label {
  font-size: 17px;
  display: inline-block;
  width: 100px;
  padding-bottom: 5px;
}

.name-form-field {
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
}

textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  border: 1px solid lightgrey;
  vertical-align: top;
}

.location-field {
  width: 50%;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

.create-experience-rating {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 17px;
  border: 1px solid lightgrey;
}

/* View Experience form */
.pin-experience-label {
  padding-right: 5px;
}

.rating-field {
  border-radius: 10px;
  padding: 8px;
  font-size: 17px;
  border: 1px solid lightgrey;
}


/* Button Table */
.button-table-td {
  background-color: rgb(238, 250, 249);
  border: 1px solid lightgrey;
  color: var(--white);
  padding: 0px;
}

.button-table-td-button {
  font-size: calc(.5rem + 1.3vw);
  border: none;
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.button-table-td-button:hover {
  background-color: var(--white);
  color: rgb(90, 201, 186);
}

input[type=submit].submit-experience-view {
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  text-align: left;
  font-size: calc(.5rem + 1.3vw);
  border: none;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
}

input[type=submit].submit-experience-view:hover {
  background-color: rgb(215, 252, 247);
}

.button-table-experience {
  width: 50%;
  text-align: left;
  font-size: calc(.5rem + 1.3vw);
  border: none;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
}

.button-table-experience:hover {
  background-color: rgb(215, 252, 247);
}


.top-right-button {
  position: absolute;
  top: 10px;
  right: 20px;
}

.main-top-buttons {
  padding-top: 1%;
  padding-right: 2%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container-button {
  margin-left: 10px;
}

/* Images */
.image-container {
  float: right;
  width: 500px;
  margin-left: 10px;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

#map {
  width: 100%; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
}