<!-- 
    This page displays details of a specific experience.

    Actions:
            - Pin experience to a trip
            - Rate another user's experience

-->

<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Capstone: Crowd-sourced Travel App</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Capstone: Crowd-sourced Travel App</h1>
    </header>

    {% extends "template.html" %}
    {% block content %}

    <main>

        <div class="image-container">
            <img src="{{experience.img_filepath}}">
        </div>

        <div class="div-container-visible">
            <form class="experience-view-form" id="pin-experience" method="POST" action="/experience_view">
                <fieldset>
                    <input type="hidden" id="experienceId" name="experienceId" value={{experience.id}} />
                    <input type="hidden" id="userId" name="userId" value={{user_info.id}} />

                    <label class="pin-experience-label" for="trip">Pin to </label>
                    <select id="tripId" name="tripId">
                        {% for trip in trips%}
                        <option value={{trip.id}}>{{ trip.name }}</option>
                        {% endfor %}
                    </select>

                    <input class="small-button" type="submit" name="pin-experience" value="pin">
                </fieldset>
            </form>

            <form class="experience-view-form" id="rate-experience" method="POST" action="/experience_view">
                <fieldset>
                    <input type="hidden" id="experienceId" name="experienceId" value={{experience.id}} />
                    <input type="hidden" id="userId" name="userId" value={{user_info.id}} />

                    <label for="rating">My Rating </label>
                    <select class="rating-field" id="userRating" name="userRating">
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>

                    <input class="small-button" type="submit" name="rate-experience" value="rate">

                </fieldset>
            </form>
        </div>

        <h2>{{ experience.name }}</h2>

        <div>
            <h3>Rating</h3>
            <p>Rating: {{ experience.avg_rating }} /5</p>

            <h3>Location</h3>
            <p>{{ experience.location }}</p>
        </div>

        <div>
            <h3>Description</h3>
            <p> {{ experience.description }}</p>
        </div>

    </main>

    {% endblock %}
</body>

</html>