<!-- 
    This page displays all crowd-sourced experiences.

    Actions:
            - Search experiences by: location, keyword
            - Create experience link

-->

<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Capstone: Crowd-sourced Travel App</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Capstone: Crowd-sourced Travel App</h1>
    </header>

    {% extends "template.html" %}
    {% block content %}

    <main>
        <h2>Experiences</h2>
        <div>
            <a href="{{ url_for('experience_create') }}" class="button-link">Create Experience</a>
        </div>
        <br>

        <form class="exerpience-search-form" id="search-experiences" method="POST" action="/experiences">
            <select id="search-type" name="search=type">
                <option value="location">location</option>
                <option value="keyword">keyword</option>
            </select>
            <input class="experience-search-input" type="text" id="search-input" name="search-input">
            <button type="submit">Search</button>
        </form>

        <table class="experiences-table">
            <tr>
                <th>Experiences</th>
            </tr>
            {% for experience in experiences %}

            <tr>{% include 'experience_td.html' %}</tr>

            {% endfor %}

        </table>
    </main>

    {% endblock %}
</body>

</html>