<!-- 
    This serves as a template for displaying a list of experiences as a table <td> element.

    Lists of experiences and details is implemented in multiple HTML pages.

    Applicable to pages: experiences.html, trip_view.html, trip_edit.html

    Defines: Experience <td> element of a table with experience details

-->

<td>
    <div class="experience-actions">
        <!-- Crowd Rating -->
        <div class="rating-inline-block">
            {{ experience_data.experience.avg_rating }}
        </div>

        <!-- Experience Name-->
        <button class="submit-experience-view" onclick="findExperience('{{experience_data.experience.name}}')">{{
            experience_data.experience.name
            }}</button>

        <!-- Unpin Button-->
        <form class="unpin-form" id="unpin-experience" method="POST" action="/experience_unpin">
            <input type="hidden" id="tripId" name="tripId" value={{trip.id}} />
            <input type="hidden" id="experienceId" name="experienceId" value={{experience_data.experience.id}} />
            <button class="small-button unpin-button" type="submit">
                <span class="material-symbols-outlined">keep</span>
            </button>
        </form>

    </div>

    <!-- User Rating -->
    <form class="rate-form" id="rate-experience" method="POST"
        onsubmit="setExperienceId(this, '{{ experience_data.experience.id }}')" action="/rate_experience">

        <div class="rating-inline-block" id="user-rating">
            <input type="hidden" id="experienceId" name="experienceId" value={{experience_data.experience.id}} />
            <input type="hidden" id="tripId" name="tripId" value={{trip.id}} />
            {% for i in range(1, 6) %}
            <span class="material-symbols-outlined empty-star user-star" data-rating="{{ i }}">star</span>
            {% endfor %}
            <input type="hidden" id="userRatingValue" name="userRating" value="{{ experience_data.my_rating }}">
        </div>
    </form>

    <!-- Experience Location -->
    <div class="location-container"> {{ experience_data.experience.address }} </div>

    <!-- Experience Description -->
    <div class="description-container"> {{ experience_data.experience.description|truncate(250) }} </div>
</td>