<!-- 
    This page displays a specific user's trip and lists pinned experiences.
-->

<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Crowd-sourced Travel App</title>
    <script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&libraries=places"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">
</head>

<body>
    <header>
        <div class="header-container">
            <h1>CROWD-sourced Travel App</h1>
            <a href="/logout" class="sign-in-link">
                Log Out
                <span class="material-symbols-outlined">account_circle</span>
            </a>
        </div>
        <!-- Navigation Links -->
        <div class="nav">
            <a href="{{ url_for('trips') }}">Return to My Trips</a>
        </div>
    </header>

    <div class="trip-view-page">
        <main>
            <div id="map"></div>

            <!-- Experience Search Bar -->
            <div class="search-bar-container">
                <span class="material-icons-outlined">search</span>
                <input type="text" id="place-search" placeholder="Find New Experiences">
                <button onclick="searchPlaces()">Search</button>
            </div>
            <br>

             <div class="experiences-table-container">
                <table class="experiences-table">
                    <!-- Table Header -->
                    <tr>
                        <th class="th-trip">
                            <!-- Trip name and editable input -->
                            <span id="trip-name-display">{{ trip.name }}</span>
                            <input type="text" id="trip-name-edit" value="{{ trip.name }}" style="display:none;">

                            <!-- Trip Action Buttons-->
                            <div class="button-container">
                                <div class="button-row">
                                    <!-- Edit Trip Button -->
                                    <button type="button" onclick="editTripName()" class="button-container-button" name="edit-trip" id="edit-trip-button" value="{{trip.id}}">
                                        <span class="material-symbols-outlined">edit</span>
                                    </button>

                                    <!-- Delete Trip Button -->
                                    <form id="delete-trip" method="POST" action="/trip_delete">
                                        <button class="button-container-button" name="delete-trip" id="tripId" value="{{trip.id}}">
                                            <span class="material-symbols-outlined">delete</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </th>
                    </tr>

                    <!-- Table Rows -->
                    {% for experience_data in experiences %}

                    <tr>{% include 'experience_td.html' %}</tr>

                    {% endfor %}
                </table>
            </div>
        </main>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
