<!-- 
    This page displays a user's trips.

    Actions:
            - Create trip
            - Select trip to view

-->

<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <title>Capstone: Crowd-sourced Travel App</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Capstone: Crowd-sourced Travel App</h1>
    </header>

    {% extends "template.html" %}
    {% block content %}

    <main>
        <br>
        <h2>My Trips</h2>
        <form id="new-trip" method="POST" action="/trips">
            <fieldset>
                <input type="text" placeholder="New Trip" id="new_trip" name="new_trip" required="required" />
                <input type="submit" name="create-trip" value="Create Trip">
            </fieldset>
        </form>
        <table>
            <tr>
                <th class="th-trip">Trips</th>
            </tr>
            {% for trip in trips %}
            <tr>
                <td class="button-table-td">
                    <form id="view-trip" method="GET" action="/trip_view">
                        <button class="button-table-td-button" name="tripId" id="tripId" value="{{trip.id}}">
                            {{ trip.name }}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

    {% endblock %}
</body>

</html>