<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <title>Capstone: Crowd-sourced Travel App</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <header>
    <h1>Capstone: Crowd-sourced Travel App</h1>
  </header>

  <div class="nav">
    <a href="{{ url_for('welcome') }}">Welcome</a>
  </div>
  {% block content %}

  <main>
    <h2>Welcome!</h2>
    <a href="/login">Log In / Sign Up</a>
    <br>
  </main>
  {% endblock %}

</body>

</html>